# .gitignore

# Environment variables
.env
env.txt

# Python cache/compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
*/venv/
.venv/
ENV/
*/ENV/
env/
*/env/

# Instance folder 
# instance/ 

# Other common ignores...
.DS_Store
*.log

# IDE/Editor configs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
