{% extends "base.html" %}

{% block content %}
<head>
  <title>Create Test Suite</title>
</head>
<body>
  <h1>Create Test Suite</h1>
  
  <form action="{{ url_for('test_suites_bp.create_test_suite') }}" method="POST">
    <label for="description">Description:</label><br>
    <input type="text" name="description" id="description" required><br><br>

    <label for="behavior">Behavior:</label><br>
    <input type="text" name="behavior" id="behavior"><br><br>

    <label for="attack">Attack:</label><br>
    <input type="text" name="attack" id="attack"><br><br>

    <button type="submit">Create</button>
  </form>

</body>
{% endblock %}